.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 45px;
  color: #fff;
  margin-bottom: 20px;
}