*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('./img/back.jpg') no-repeat center center fixed;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img, 
input {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
